.explore {
    position: relative;
    width: 100%;
    height: 400px;
    background-image: url('@/assets/heroo.jpg');
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
}