.welcome {
    width: 100%;
    margin-top: 0;

    .wrapper {
        display: flex;
        flex-direction: row;
    }

    &-left {
        width: 40%;

        img {
            width: 100%;
            height: 99%;
            object-fit: contain;
        }
    }

    &-right {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 40px 0;

        h4 {
            font-size: $fs-42;
            margin-bottom: 24px;
            color: $c-7;
        }

        p {
            margin-bottom: 12px;

            b {
                color: $c-7;
            }
        }

        a {
            display: flex;
            align-items: center;
            align-self: flex-end;
            font-size: $fs-16;
            letter-spacing: 1px;
            text-decoration: none;
            margin-top: 24px;
            padding: 8px 16px;
            color: $c-7;
            background-color: transparent;
            border: 1px solid $c-7;
            cursor: pointer;
            transition: 0.2s;

            &:hover {
                color: $c-1;
                background-color: $c-7;
            }
        }
    }
}

@media screen and (max-width: 960px) {
    .welcome {
        &-right {
            width: 60%;
    
            h4 {
                font-size: $fs-32;
            }
        }
    }
}
@media screen and (max-width: 768px) {
    .welcome {
        &-left {
            display: none;
        }
    
        &-right {
            width: 100%;
    
            a {
                align-self: center;
                font-size: $fs-14;
                padding: 8px 24px;
            }
        }
    }
}