$tea-green: #BDD9BF;
$charcoal: #2E4052;
$sunglow: #FFC857;
$white-smoke: #EBF7FF;
$dark-purple: #412234;
$light-dark: #333333;
$blue-gray:#569DE1;
$light-sky-blue: #A6D4F2;
$blue-dark: #3C8FDD;

$c-1: $white-smoke;
$c-2: $tea-green;
$c-3: $sunglow;
$c-4: $charcoal;
$c-5: $dark-purple;
$c-6: $light-dark;
$c-7: $blue-gray;
$c-8: $light-sky-blue;
$c-9: $blue-dark;