@font-face {
    font-family: ff-primary;
    src: url('@/assets/fonts/LexendDeca.ttf');
}
@font-face {
    font-family: ff-hero;
    src: url('@/assets/fonts/Pacifico-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: ff-now;
    src: url('@/assets/fonts/Sacramento-Regular.ttf');
    font-weight: 400;
}

$fs-14: 14px;
$fs-16: 16px;
$fs-20: 20px;
$fs-28: 28px;
$fs-48: 48px;