@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

@import './fonts.scss';
@import './colors.scss';

@import './molecules/header.scss';
@import './molecules/hero.scss';
@import './molecules/free-shipping.scss';
@import './molecules/welcome.scss';
@import './molecules/about-us.scss';
@import './molecules/categories.scss';
@import './molecules/explore.scss';

* {
    margin: 0;
    padding: 0;
}
body {
    background-color: $c-1;
    font-family: ff-primary;
    color: $c-6;
}
body::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: $c-1;
}
body::-webkit-scrollbar {
	width: 6px;
	background-color: $c-1;
}
body::-webkit-scrollbar-thumb {
	background-color: $c-7;
}
/*section {
    margin: 60px 0;
}*/
i {
    font-size: 18px;
    margin-right: 8px;
}
.wrapper {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 1rem;
}
.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;

    h3 {
        margin-bottom: 0;
    }

    a {
        display: block;
        align-self: flex-end;
        height: 100%;
        font-size: $fs-14;
        letter-spacing: 1px;
        text-decoration: none;
        padding: 8px 16px;
        color: $c-7;
        background-color: transparent;
        border: 1px solid $c-7;
        border-radius: 21px;
        cursor: pointer;
        transition: 0.2s;

        &:hover {
            color: $c-1;
            background-color: $c-7;
        }
    }
}

h2 {
    font-size: $fs-48;
    color: $c-1;
    letter-spacing: 1px;
}
h3 {
    font-size: $fs-32;
    margin-bottom: 20px;
    padding: 3px 12px;
    border-left: 5px solid $c-7;
    cursor: default;
}
p {
    font-size: $fs-16;
}

@media screen and (max-width: 768px) {
    section {
        margin: 30px 0;
    }
    .header-row {
        a {
            padding: 8px 16px;
        }
    }
    h2 {
        font-size: $fs-32;
    }
    h3 {
        font-size: $fs-20;
        padding: 6px 12px;
    }
}